    .brand-logo {
        font-family: 'Pacifico', cursive;
    }
    
    .nav-wrapper {
        background-color: #6f4037;
    }
    
    .slider .indicators .indicator-item.active {
        background-color: #6f4037;
    }
    
    .parallax-container {
        min-height: 480px;
        height: auto;
    }
    
    .icon-coffee {
        color: #6f4037;
    }
    
    .gray-text {
        color: #fff;
    }
    
    .footer-one {
        background-color: #6f4037;
    }
    
    .footer-one:hover {
        background-color: #462822;
        cursor: pointer;
    }
    
    .footer-two {
        background-color: #563129;
    }